<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
    <h1 th:text="${title}">Default Title</h1>

    <nav th:replace="fragments :: navigation"></nav>

    <ul>
        <li th:each="item : ${items}">
            <a th:href="@{'/item/' + ${item.name}}" th:text="${item.name}"></a>
        </li>
    </ul>

    <a th:href="@{/create/item}" class="btn btn-primary my-2">Create Item</a>



    <section th:replace="fragments :: scripts"></section>

</body>
</html>