<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/"
      lang="en"
>
<head th:replace="fragments :: head"></head>
<body>

    <nav th:replace="fragments :: navigation"></nav>

    <main class="container">
        <div class="py-5 text-center">
            <h2 th:text="${title}">Default Title</h2>
        </div>

        <form class="needs-validation"
              method="post"
              th:object="${form}"
        >
            <div class="row">
                <div class="col-md-8 order-md-1">
                    <h4 class="mb-3">Background</h4>
                    <div class="row">
                        <div class="col-md-7 mb-3">
                            <label th:for="playerCharacter.name">Name</label>
                            <input type="text"
                                   class="form-control"
                                   th:field="*{playerCharacter.name}"
                                   id="characterId"
                                   required
                            />
                            <span th:errors="*{playerCharacter.name}"
                                  class="error"
                            ></span>
                            <input type="hidden"
                                   name="characterId"
                                   th:value="*{playerCharacter.id}"
                            />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label th:for="raceId">Race</label>
                            <select class="custom-select d-block w-100"
                                    name="raceId"
                                    id="raceId"
                                    required
                            >
                                <option value=""
                                        selected
                                        disabled
                                >Please select
                                </option>
                                <option th:each="race : ${form.races}"
                                        th:value="${race.id}"
                                        th:text="${race.name}"
                                        th:selected="${race=='Please select'}"
                                >
                                </option>
                            </select>
                            <span th:errors="*{raceId}"
                                  class="error"
                            ></span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label th:for="classId">Class</label>
                            <select class="custom-select d-block w-100"
                                    name="classId"
                                    id="classId"
                                    required
                            >
                                <option value=""
                                        selected
                                        disabled
                                >Please select
                                </option>
                                <option th:each="class : ${form.classes}"
                                        th:value="${class.id}"
                                        th:text="${class.name}"
                                        th:selected="${class=='Please select'}"
                                >
                                </option>
                            </select>
                            <span th:errors="*{classId}"
                                  class="error"
                            ></span>
                        </div>

                        <!--todo: add dynamic levels based upon server query-->

                        <div class="col-md-3 mb-3">
                            <label th:for="level">Level</label>
                            <select class="custom-select d-block w-50"
                                    name="level"
                                    id="level"
                                    required
                            >
                                <option value=""
                                        selected
                                        disabled
                                >-
                                </option>
                                <option th:each="level : ${form.levels}"
                                        th:value="${level.level}"
                                        th:text="${level.level}"
                                        th:selected="${level==form.level} ?: '-'"
                                >
                                </option>
                            </select>
                            <span th:errors="*{level}"
                                  class="error"
                            ></span>
                        </div>
                    </div>

                    <hr class="mb-4">

                </div>

                <!-- TODO - Update template to add values for ability scores -->

                <div class="col-md-12 order-md-2 mb-3">
                    <h4 class="mb-3">Attributes</h4>
                    <div class="form-group row text-center m-1">
                        <div class="col-sm-2 justify-content-between lh-condensed border rounded bg-light py-2"
                             th:each="ability : ${form.abilities}"
                        >
                            <label th:for="${#strings.toLowerCase(ability.name)}"
                                   class="text-muted my-0"
                                   th:text="${ability.name}"
                            >Attribute</label>
                            <div class="font-weight-bold text-dark h3"
                                 th:text="${ability}"
                            >ATTR.
                            </div>
                            <input class="form-control text-center"
                                   type="number"
                                   th:field="*{playerCharacter.abilityScores.__${#strings.toLowerCase(ability.name)}__.value}"
                                   th:id="${#strings.toLowerCase(ability.name)}"
                            >
                            <span class="error"
                                  th:errors="*{playerCharacter.abilityScores.__${#strings.toLowerCase(ability.name)}__}"
                            ></span>
                        </div>
                    </div>
                </div>


            </div>

            <hr class="mb-4">
            <button class="btn btn-danger btn-lg btn-block"
                    type="submit"
            >Create Character
            </button>

        </form>

    </main>


    <section th:replace="fragments :: scripts"></section>

</body>
</html>