<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/"
      lang="en"
>
<head th:replace="fragments :: head"></head>
<body>

    <nav th:replace="fragments :: navigation"></nav>

    <div class="container">
        <div class="py-5 text-center">
            <h2 th:text="${title}">Default Title</h2>
            <p class="lead">This is the counterpart to Modifier Types. Modifier Subtypes are the members of the Modifier
                            Type groups that give a more specific example of how a Modifier will function.</p>
        </div>

        <form method="post"
              th:object="${modifierSubType}"
              class="needs-validation"
              novalidate
        >
            <div class="row">
                <div class="col-md-4 order-md-2 mb-4">
                    <h4 class="d-flex justify-content-between align-items-center mb-3">Type(s)</h4>

                    <div class="d-block my-3">
                        <div th:errors="*{types}"
                             class="error"
                        ></div>
                        <div class="custom-control custom-checkbox"
                             th:each="type : ${types}"
                        >
                            <input th:field="*{types}"
                                   th:value="${type.id}"
                                   type="checkbox"
                                   class="custom-control-input"
                            >
                            <label class="custom-control-label"
                                   th:for="${#ids.prev('types')}"
                                   th:text="${type.name}"
                            >Type Name</label>
                        </div>
                    </div>

                </div>
                <div class="col-md-8 order-md-1">
                    <h4 class="mb-3">Details</h4>
                    <div class="row">
                        <div class="col-md mb-3">
                            <label th:for="name">Name</label>
                            <div th:errors="*{name}"
                                 class="error"
                            ></div>
                            <input type="text"
                                   class="form-control"
                                   th:field="*{name}"
                                   required
                            />
                        </div>
                    </div>

                    <div class="mb-3">
                        <label th:for="description">Description</label>
                        <div th:errors="*{description}"
                             class="error"
                        ></div>
                        <div class="input-group">
                            <textarea rows=6
                                      class="form-control"
                                      th:field="*{description}"
                                      required
                            ></textarea>
                        </div>
                        <span id="descCount"></span>
                    </div>

                    <hr class="mb-4">
                    <input class="btn btn-danger btn-lg btn-block"
                           type="submit"
                           value="Create Subtype"
                    />
                </div>
            </div>
        </form>


    </div>

    <section th:replace="fragments :: scripts"></section>

</body>
</html>