<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>

    <nav th:replace="fragments :: navigation"></nav>

    <div class="container">
        <div class="py-5 text-center">
            <h2 th:text="${title}">Default Title</h2>
        </div>

        <form method="post" style="max-width:600px;" th:object="${modifierSubType}">
            <div class="form-group">
                <label th:for="name">Name</label>
                <div th:errors="*{name}" class="error"></div>
                <input class="form-control" th:field="*{name}" required />
            </div>

            <div class="form-group">
                <label th:for="description">Description</label>
                <div th:errors="*{description}" class="error"></div>
                <textarea rows=6 class="form-control" th:field="*{description}" required></textarea>
                <span class="error" id="descCount"></span>
            </div>

            <div class="form-group">
                <label>Type(s)</label>
                <div th:errors="*{types}" class="error"></div>
                <ul>
                    <li th:each="type : ${types}">
                        <input type="checkbox" th:field="*{types}" th:value="${type.id}" />
                        <label th:for="${#ids.prev('types')}"
                               th:text="${type.name}">Type</label>
                    </li>
                </ul>
            </div>

            <hr class="mb-4">

            <input class="btn btn-primary btn-lg btn-block" type="submit"  value="Create Subtype" />

        </form>

    </div>


    <section th:replace="fragments :: scripts"></section>

</body>
</html>