<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>

    <nav th:replace="fragments :: navigation"></nav>

    <div class="container">
        <div class="py-5 text-center">
            <h2 th:text="${title}">Default Title</h2>
        </div>

        <form method="post" style="max-width:600px;" th:object="${race}">
            <div class="form-group">
                <label th:for="name">Name</label>
                <input class="form-control" th:field="*{name}" />
                <span th:errors="*{name}" class="error"></span>
            </div>
            <div class="form-group">
                <label th:for="size">Size</label>
                <select class="custom-select d-block w-25" name="size" id="size" required>
                    <option value="" selected disabled>Please select</option>
                    <option th:each="size : ${sizes}"
                            th:value="${size}"
                            th:text="${size.name}"
                            th:selected="${size=='Please select'}">
                    </option>
                </select>
                <span th:errors="*{size}" class="error"></span>
            </div>

            <div class="form-group">
                <label th:for="introduction">Introduction</label>
                <textarea class="form-control" th:field="*{introduction}" notempty></textarea>
                <span th:errors="*{introduction}" class="error"></span>
            </div>

            <div class="form-group">
                <label th:for="description">Description</label>
                <textarea rows=10 class="form-control" th:field="*{description}" notempty></textarea>
                <span th:errors="*{description}" class="error"></span>
            </div>

            <hr class="mb-4">

            <input class="btn btn-primary btn-lg btn-block" type="submit"  value="Create Race" />

        </form>

    </div>


    <section th:replace="fragments :: scripts"></section>

</body>
</html>