<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
    <h1 th:text="${title}">Default Title</h1>

    <nav th:replace="fragments :: navigation"></nav>

    <form method="post" style="max-width:600px;" th:object="${characterClass}">
        <div class="form-group">
            <label th:for="name">Name</label>
            <input class="form-control" th:field="*{name}" />
            <span th:errors="*{name}" class="error"></span>
        </div>
        <div class="form-group">
            <label th:for="hitDice">Hit Dice</label>
            <select class="form-control" th:field="*{hitDice}">
                <option th:each="hitDie : ${hitDiceTypes}"
                        th:text="${hitDie.dieType}"
                        th:value="${hitDie.id}"></option>
            </select>
            <span th:errors="*{hitDice}" class="error"></span>
        </div>
        <div class="form-group">
            <label th:for="armorProficiency">Armor Proficiency</label>
            <input class="form-control" th:field="*{armorProficiency}" />
            <span th:errors="*{armorProficiency}" class="error"></span>
        </div>
        <div class="form-group">
            <label th:for="weaponProficiency">Weapon Proficiency</label>
            <input class="form-control" th:field="*{weaponProficiency}" />
            <span th:errors="*{weaponProficiency}" class="error"></span>
        </div>
        <div class="form-group">
            <label th:for="tools">Tools</label>
            <input class="form-control" th:field="*{tools}" />
            <span th:errors="*{tools}" class="error"></span>
        </div>
        <div class="form-group">
            <label th:for="savingThrows">Saving Throws</label>
            <input class="form-control" th:field="*{savingThrows}" />
            <span th:errors="*{savingThrows}" class="error"></span>
        </div>
        <div class="form-group">
            <label th:for="skills">Skills</label>
            <input class="form-control" th:field="*{skills}" />
            <span th:errors="*{skills}" class="error"></span>
        </div>

        <input type="submit" value="Create Class" />
    </form>


    <section th:replace="fragments :: scripts"></section>

</body>
</html>