<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

    <nav th:replace="fragments :: navigation"></nav>

    <h1 th:text="${title}">Default Title</h1>

    <ul th:if="${inventory} and ${inventory.size()}" class="list-group">
        <li class="list-group-item" th:number="inventory.currency">
        <li class="list-group-item" th:each="item : ${inventory}">
            <!--<a th:href="'/playerCharacter?id=' + ${playerCharacter.id}" th:text="${playerCharacter.name}"></a>-->
            <div class="font-weight-bold list-group" th:text="${item.name}"></div>
        </li>
    </ul>



    <section th:replace="fragments :: scripts"></section>

</body>
</html>