<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>

    <nav th:replace="fragments :: navigation"></nav>

    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 th:text="${title}" class="display-4">Inventories</h1>
        <!--<p th:text="${message}" class="lead">Quickly build an effective pricing table for your potential customers with this Bootstrap example. It's built with default Bootstrap components and utilities with little customization.</p>-->
    </div>

    <div th:each="error : *{errors}" class="error"></div>

    <div class="container needs-validation">
        <div class="card-deck mb-3 text-center">
            <div class="card bg-dark text-light mb-4 box-shadow">
                <div class="card-header">
                    <h4 th:text="${character.name}" class="border-bottom my-0 font-weight-normal">Character Inventory</h4>
                    <div>
                        <span th:text="${character.inventory.weight + ' lb.'}" class="my-0 mx-3">0</span>
                    </div>
                    <div>
                        <div th:each="item : ${character.inventory.items}"
                              th:if="${item.key.type == T(com.example.rngesus.models.enumerations.ItemType).CURRENCY}">
                            <span th:class="'item ' + ${#strings.toLowerCase(item.key.name)}"><i class="fas fa-coins"></i></span>
                            <span th:text="${item.value}" th:id="${item.key.id}">quantity</span>
                        </div>
                    </div>
                </div>
                <table id="characterTable" class="table table-dark table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Weight</th>
                            <th>Qty</th>
                            <th>Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="item : ${character.inventory.items}"
                            th:unless="${item.key.type == T(com.example.rngesus.models.enumerations.ItemType).CURRENCY}"
                            th:class="'item ' + ${#strings.toLowerCase(item.key.rarity)}" th:id="${item.key.id}">
                            <td th:text="${item.key.name}">name</td>
                            <td th:text="${item.key.weight + ' lb.'}">weight</td>
                            <td th:text="${item.value}">quantity</td>
                            <td th:text="'$' + ${item.key.value}">value</td>
                        </tr>
                    </tbody>
                </table>
            </div>



            <form class="card bg-dark text-light mb-4 box-shadow" th:object="${form}" method="post" th:action="@{/inventory/__${characterId}__/trade}">
                <div class="card-header">
                    <h4 th:text="${exchange}" class="border-bottom my-0 font-weight-normal">Exchange</h4>
                    <div>
                        <span class="my-0 mx-3"><span id="tradeWeight" th:name="tradeWeight">0</span> lb.</span>
                        <span class="my-0 mx-3">$<span id="total" th:name="total">0</span></span>
                    </div>
                </div>
                    <fieldset>
                        <table id="tradeTable" class="table table-dark table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Weight</th>
                                    <th>Qty</th>
                                    <th>Value</th>
                                </tr>
                            </thead>
                            <tbody th:with="items = ${form.items}">
                                <tr th:each="item, itemStat : ${items}"
                                    th:class="'buy border-warning item ' + ${#strings.toLowerCase(#strings.replace(name,' ','_'))}">
                                    <td th:text="${items[__${itemStat.index}__].name}"></td>
                                    <input type="hidden" th:field="*{items[__${itemStat.index}__].id}" readonly />
                                    <td th:text="${items[__${itemStat.index}__].weight}"></td>
                                    <input type="hidden" th:field="*{items[__${itemStat.index}__].description}" readonly />
                                    <td th:text="${items[__${itemStat.index}__].value}"></td>
                                </tr>
                            </tbody>
                        </table>
                        <input type="hidden" th:value="${characterId}" th:field="*{characterId}"/>
                        <input type="hidden" th:value="${partnerId}" th:field="*{partnerId}"/>
                    </fieldset>
                <div class="card-body my-0">
                    <button type="submit" class="btn btn-lg btn-block btn-success" id="exchange" name="exchange"><i class="fas fa-coins"></i> Exchange</button>
                </div>
            </form>



            <div class="card bg-dark text-light mb-4 box-shadow">
                <div class="card-header">
                    <h4 th:text="${partnerName}" class="my-0 font-weight-normal">Partner Inventory</h4>
                    <div>
                        <span th:unless="${partnerName == 'All Items'}" th:text="${partner.inventory.weight + ' lb.'}" class="my-0 mx-3">0</span>
                    </div>
                </div>
                <table id="partnerTable" class="table table-dark table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Weight</th>
                            <th>Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="item : ${partnerInventory.items}"
                            th:unless="${item.key.type == T(com.example.rngesus.models.enumerations.ItemType).CURRENCY}"
                            th:with="item=${item.key}"
                            th:class="'item ' + ${#strings.toLowerCase(item.rarity)}"
                            th:id="${item.id}">
                            <td th:text="${item.name}">name</td>
                            <td th:text="${item.weight + ' lb.'}">weight</td>
                            <td th:text="'$' + ${item.value}">value</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>



    <!------------------ The Modal ------------------->

    <div class="itemForm">
            <div class="modal fade" id="itemModal">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content bg-dark text-light">

                        <!-- Modal Header -->
                        <div id="header" class="group modal-header modal-dark">
                            <h4 class="group-item modal-title" id="name" name="name">Name</h4>
                            <div class="group-item modal-title my-auto" id="itemDetails" name="itemDetails">Rarity + Type</div>
                        </div>

                        <!-- Modal body -->
                        <div class="modal-body" id="description" name="description">
                            Modal body..
                        </div>
                        <div class="align-bottom d-flex">
                            <div id="cost" class="mx-3" name="cost"></div>
                            <div id="weight" class="mx-3" name="weight"></div>
                        </div>
                        <!-- Modal footer -->
                        <div class="modal-footer d-flex justify-content-between">

                            <button type="submit" class="btn btn-warning" data-dismiss="modal" id="addToCart" name="addToCart"><i class="fa fa-cart-plus"></i> Add to Cart</button>

                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        </div>

                    </div>
                </div>
            </div>
    </div>




    <section th:replace="fragments :: scripts"></section>

</body>
</html>