<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

    <nav th:replace="fragments :: navigation"></nav>

    <h1 th:text="${title}">Default Title</h1>

    <div th:text="${trait.description}"></div>

    <div>
        <a th:href="@{'/create/modifier/' + ${trait.id}}" th:text="${'Add Modifier to ' + trait.name}"></a>

        <ul th:if="${trait.modifiers} and ${trait.modifiers.size()}">
            <li th:each="modifier : ${trait.modifiers}">
                <a th:href="@{'/modifier/' + ${modifier.id}}" th:text="${modifier.name}"></a>
            </li>
        </ul>
    </div>



    <section th:replace="fragments :: scripts"></section>

</body>
</html>