<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>

    <nav th:replace="fragments :: navigation"></nav>

    <main class="container">

        <h1 th:text="${title}" class="pt-3">Default Title</h1>

        <ul class="list-inline mb-3">
            <li th:each="type : ${subType.types}" class="list-inline-item">
                <a th:href="@{/modifier/type/(id=${type.id})}" th:text="${type.name}" class="btn btn-danger btn-sm"></a>
            </li>
        </ul>


        <div class="p-3 bg-light" th:text="${subType.description}"></div>

    </main>



    <section th:replace="fragments :: scripts"></section>

</body>
</html>