<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

    <nav th:replace="fragments :: navigation"></nav>

    <h1 th:text="${account.name}">Default Title</h1>

    <p th:unless="${account.playerCharacters} and ${account.playerCharacters.size()}">no cheese :(</p>

    <ul>
        <li th:each="character : ${account.playerCharacters}" th:text="${character.name}"></li>
    </ul>

    <p><a th:href="@{/character/create}">Create Character</a></p>

</body>
</html>