<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

    <nav th:replace="fragments :: navigation"></nav>

    <h1 th:text="${user.username}">Default Title</h1>

    <p th:unless="${user.playerCharacters} and ${user.playerCharacters.size()}">no characters :(</p>

    <ul th:if="${user.playerCharacters} and ${user.playerCharacters.size()}">
        <li th:each="character : ${user.playerCharacters}">
            <a th:text="${character.name}"></a>
        </li>
    </ul>


    <p><a th:href="@{/create/character}">Create Character</a></p>

</body>
</html>