<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="userSignup">

    <nav th:replace="fragments :: navigation"></nav>

    <form class="form-signin" method="post" th:action="@{/user/create}" th:object="${user}">
        <div class="text-center mb-4">
            <img class="App-logo mb-4"  src="https://cdn1.iconfinder.com/data/icons/sin-city-memories/128/dice-red-256.png" alt="logo" height="72">
            <h1 class="h3 mb-3 font-weight-normal" th:text="${title}">Default Title</h1>
            <p>Not to oversell it, but people who create accounts have a far greater chance of having their wildest dreams come true.</p>
        </div>

        <div class="form-label-group">
            <input type="text" class="form-control" th:field="*{username}" placeholder="Username" required autofocus />
            <label th:for="username">Username</label>
            <span th:errors="*{username}" class="error"></span>
            <span class="error" th:text="${message}"></span>
        </div>
        <div class="form-label-group">
            <input type="email" class="form-control" th:field="*{email}" placeholder="Email Address" required />
            <label th:for="email">Email Address</label>
            <span th:errors="*{email}" class="error"></span>
        </div>
        <div class="form-label-group">
            <input type="password" class="form-control" th:field="*{password}" placeholder="Password" required />
            <label th:for="password">Password</label>
            <span th:errors="*{password}" class="error"></span>
        </div>
        <div class="form-label-group">
            <input class="form-control" id="verify" type="password" placeholder="Verify Password" name="verify" />
            <label th:for="verify">Verify Password</label>
            <span class="error" th:text="${verify}"></span>

        </div>

        <input class="btn btn-lg btn-danger btn-block" type="submit" value="Join" />

        <div class="mt-3">Already have an account? <a th:href="@{/user/login}">Login</a></div>


    </form>



    <section th:replace="fragments :: scripts"></section>

</body>
</html>