<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>

    <nav th:replace="fragments :: navigation"></nav>

    <h1 th:text="${title}">Default Title</h1>

    <ul th:if="${playerCharacters} and ${playerCharacters.size()}">
        <li th:each="playerCharacter : ${playerCharacters}">
            <!--<a th:href="'/playerCharacter?id=' + ${playerCharacter.id}" th:text="${playerCharacter.name}"></a>-->
            <div th:text="${playerCharacter.name}"></div>
        </li>
    </ul>

    <p><a href="/character/create">Create New Character</a></p>





    <section th:replace="fragments :: scripts"></section>

</body>
</html>