<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>

    <nav th:replace="fragments :: navigation"></nav>

    <h1 th:text="${title}">Default Title</h1>

    <form method="post" style="max-width:600px;" th:object="${playerCharacter}">
        <div class="form-group">
            <label th:for="name">Name</label>
            <input class="form-control" th:field="*{name}" />
            <span th:errors="*{name}" class="error"></span>
        </div>
        <div class="form-group">
            <label th:for="race">Race</label>
            <select name="raceId">
                <option th:each="race : ${races}"
                        th:text="${race.name}"
                        th:value="${race.id}"></option>
            </select>
            <span th:errors="*{race}" class="error"></span>
        </div>
        <div class="form-group">
            <label th:for="class">Class</label>
            <select name="classId">
                <option th:each="class : ${classes}"
                        th:text="${class.name}"
                        th:value="${class.id}"></option>
            </select>
            <span th:errors="*{class}" class="error"></span>
        </div>

        <input type="submit" class="btn btn-primary" value="Create Character" />
    </form>





    <section th:replace="fragments :: scripts"></section>

</body>
</html>