<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

    <nav th:replace="fragments :: navigation"></nav>

    <h1 th:text="${title}">Default Title</h1>

    <div th:if="${character}" class="list-group">
            <!--<a th:href="'/playerCharacter?id=' + ${playerCharacter.id}" th:text="${playerCharacter.name}"></a>-->
            <div class="font-weight-bold list-group" th:text="${character.name}"></div>
            <div th:if="${character.race}" class="list-group" th:text="'Race: ' + ${character.race.name}"></div>
            <div th:if="${character.race}" class="list-group" th:text="'Size: ' + ${character.race.size}"></div>
            <div th:if="${character.classes} and ${character.classes.size()}" class="characterClass">
                <div class="list-group" th:each="class : ${character.classes}" th:text="'Class: ' + ${class.name}"></div>
            </div>
            <div th:if="${character.abilityScores}" class="characterClass">
                <div class="list-group" th:text="'Strength: ' + ${character.strength.value}"></div>
                <div class="list-group" th:text="'Dexterity: ' + ${character.dexterity.value}"></div>
                <div class="list-group" th:text="'Constitution: ' + ${character.constitution.value}"></div>
                <div class="list-group" th:text="'Wisdom: ' + ${character.wisdom.value}"></div>
                <div class="list-group" th:text="'Intelligence: ' + ${character.intelligence.value}"></div>
                <div class="list-group" th:text="'Charisma: ' + ${character.charisma.value}"></div>
            </div>
            <div th:if="${character.abilityScores}" class="characterClass">
                <div class="list-group" th:text="${character.abilityScores}" ></div>
            </div>
    </div>

    <p><a href="/inventory">Edit Inventory</a></p>
    <p><a href="/character/delete">Delete Character</a></p>





    <section th:replace="fragments :: scripts"></section>

</body>
</html>