<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>

    <nav th:replace="fragments :: navigation"></nav>

    <h1 th:text="${title}">Default Title</h1>

    <ul th:if="${characters} and ${characters.size()}">
        <li th:each="character : ${characters}">
            <!--<a th:href="'/playerCharacter?id=' + ${playerCharacter.id}" th:text="${playerCharacter.name}"></a>-->
            <div class="characterName" th:text="${character.name}"></div>
            <div class="characterRace" th:text="'Race: ' + ${character.race.name}"></div>
            <div class="characterRace" th:text="'Size: ' + ${character.race.size}"></div>
        </li>
    </ul>

    <p><a href="/character/create">Create New Character</a></p>





    <section th:replace="fragments :: scripts"></section>

</body>
</html>