.common {
  color: #ffffff;
}

/* .table .common:hover {
    background-color: #ffcc80;
} */

.uncommon {
    color: #1eff00;
}

/* .table .uncommon:hover {
    background-color: #ffcc80;
} */

.rare {
    color: #0070dd;
}

/* .table .rare:hover {
    background-color: #ffcc80;
} */

.very_rare {
    color: #a335ee;
}

/* .table .very-rare:hover {
    background-color: #ffcc80;
} */

.legendary {
    color: #ff8000;
}

/* .table .legendary:hover {
    background-color: #b39ddb;
} */

.artifact {
    background-color: #e6cc80;
}

/* .table .artifact:hover {
    background-color: #ffcc80;
} */
