.gold {
  color: #ffbb33
}

.buy td:last-child {
  color: #ffbb33
}

.sell {
  color: #00C851 !important;
}

.common td:first-child, .common h4 {
  color: #ffffff;
}

/* .table .common:hover {
    background-color: #ffcc80;
} */

.uncommon td:first-child, .uncommon h4 {
    color: #1eff00;
}

/* .table .uncommon:hover {
    background-color: #ffcc80;
} */

.rare td:first-child, .rare h4 {
    color: #0070dd;
}

/* .table .rare:hover {
    background-color: #ffcc80;
} */

.very_rare td:first-child, .very_rare h4 {
    color: #a335ee;
}

/* .table .very-rare:hover {
    background-color: #ffcc80;
} */

.legendary td:first-child, .legendary h4 {
    color: #ff8000;
}

/* .table .legendary:hover {
    background-color: #b39ddb;
} */

.artifact td:first-child, .artifact h4 {
    color: #e6cc80;
}

/* .table .artifact:hover {
    background-color: #ffcc80;
} */
