<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>

    <nav th:replace="fragments :: navigation"></nav>


    <main role="main" class="inner cover text-center">

        <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
            <h1 class="cover-heading" th:text="${#strings.defaultString(title, 'Da Fuq?')}">Default Title</h1>
            <p class="lead" th:text="${#strings.defaultString(message, 'Why are you breaking my things?')}">Why are you breaking my things?</p>
            <p class="lead">
                <a href="/" class="btn btn-lg btn-danger">Go Home</a>
            </p>
        </div>
    </main>







    <section th:replace="fragments :: scripts"></section>

</body>
</html>