<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="head">

    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
    <link rel="stylesheet" th:href="@{/css/home.css}" />
    <script type="text/javascript" th:src="@{/js/script.js}"></script>

    <title th:text="${title}">RNGesus</title>

</head>
<body>

    <nav th:fragment="navigation" class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" th:href="@{/}">RNGesus</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">

            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/character}">Characters</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/create}">Create</a>
                </li>
            </ul>

            <form class="form-inline mt-2 mt-md-0" action="https://roll20.net/compendium/dnd5e/searchbook/" method="GET" target="_blank">

                <ul class="navbar-nav mr-auto float-right">

                    <div th:if="${user.username}">
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/user/account}" th:text="${username}"></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/user/logout}">Logout</a>
                        </li>
                    </div>
                    <div th:unless="${user.username}">
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/user/login}">Login</a>
                        </li>
                    <div>
                </ul>
                <input class="form-control mr-sm-2" type="text" name="terms" placeholder="Search Roll20" aria-label="Search" />
                <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>

    <section th:fragment="scripts">
        <!-- Bootstrap core JavaScript
================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script th:src="@{https://code.jquery.com/jquery-3.3.1.slim.min.js}" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script th:src="@{/bootstrap/assets/js/vendor/popper.min.js}"></script>
        <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
        <script th:src="@{/bootstrap/assets/js/vendor/holder.min.js}"></script>
    </section>

</body>
</html>