<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:fragment="head">

    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
    <script type="text/javascript" th:src="@{/js/script.js}"></script>

    <link th:if="${#request.requestURI} == '/'" rel="stylesheet" th:href="@{/css/home.css}" />
    <link th:if="${#request.requestURI} == ${'/character/equipment'}" rel="stylesheet" th:href="@{/css/equipment.css}" />
    <link th:if="${#request.requestURI} == '/inventory'" rel="stylesheet" th:href="@{/css/inventory.css}" />

    <title th:if="${title}" th:text="${title}">RNGesus</title>

</head>
<body>

    <nav th:fragment="navigation" class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" th:href="@{/}">RNGesus</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">

            <ul id="nav" class="navbar-nav mr-auto" th:with="currentUrl=${#request.requestURI}">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/}" title="Home is where you live" th:classappend="${#strings.equals(currentUrl, '/')} ? 'active'">Home</a>
                </li>
                <li th:each="link : ${T(com.example.rngesus.models.enumerations.NavbarLinks).values()}" class="nav-item">
                    <a class="nav-link" th:href="@{${link.url}}" th:title="${link.description}" th:text="${link.name}" th:classappend="${#strings.equals(currentUrl, link.url)} ? 'active'">Home</a>
                </li>

            </ul>

            <div class="d-flex flex-column flex-md-row align-items-center">
                <ul th:if="${#request.cookies}" class="navbar-nav mr-auto float-right">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/user/logout}">Logout</a>
                    </li>
                </ul>
                <ul th:unless="${#request.cookies}" class="navbar-nav mr-auto float-right">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/user/create}">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/user/login}">Login</a>
                    </li>
                </ul>
                <form class="form-inline mt-2 mt-md-0" action="https://roll20.net/compendium/dnd5e/searchbook/" method="GET" target="_blank">
                    <input class="form-control mr-sm-2" type="text" name="terms" placeholder="Search Roll20" aria-label="Search" />
                    <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>

    <section th:fragment="scripts">
        <!-- Bootstrap core JavaScript
================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script th:src="@{//code.jquery.com/jquery-3.3.1.slim.min.js}" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script type="text/javascript">
    //<![CDATA[
     window.jQuery || document.write("<script src='bootstrap/assets/js/jquery-2.0.3.min.js'>"+"<"+"/script>");
    //]]>
</script>

        <script th:href="@{/bootstrap/assets/js/vendor/popper.min.js}"></script>
        <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
        <script th:src="@{/bootstrap/assets/js/vendor/holder.min.js}"></script>
    </section>

</body>
</html>