<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>

    <nav th:replace="fragments :: navigation"></nav>


    <main role="main">

        <section class="jumbotron text-center main">
            <div class="container">
                <img src="https://cdn1.iconfinder.com/data/icons/sin-city-memories/128/dice-red-256.png" class="App-logo" alt="logo" />
                <h1 class="jumbotron-heading" th:text="${title}">Default Title</h1>
            </div>
        </section>
    </main>



    <section th:replace="fragments :: scripts"></section>

</body>
</html>