<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

    <nav th:replace="fragments :: navigation"></nav>

    <h1 th:text="${title}">Default Title</h1>

    <div class="list-group">

        <div class="mb-3">
            <div class="list-group mb-3">
                <label class="font-weight-bold h5">Description</label>
                <div class="list-group" th:text="${race.description}"></div>
            </div>
        </div>

    </div>

    <div class="list-group">

        <h3 th:text="${race.name} + ' Traits'">Racial Traits</h3>

        <div class="mb-3">
            <div class="list-group mb-3">
                <label class="font-weight-bold h5">Size</label>
                <div class="list-group" th:text="'Their size is ' + ${race.size.name} + '.'"></div>
            </div>
        </div>
            <div th:if="${race.traits} and ${race.traits.size()}" th:each="trait : ${race.traits}" class="list-group mb-3">
                <label class="font-weight-bold h5"><a th:href="@{'/trait/details/' + ${trait.id}}" th:text="${trait.name}">Trait Name</a></label>
                <div class="list-group" th:text="${trait.description}"></div>
            </div>
        </div>
        <div class="list-group mb-3">
            <a th:href="@{'/create/trait/' + ${race.id}}">Add Trait</a>
        </div>


    </div>







    <section th:replace="fragments :: scripts"></section>

</body>
</html>