<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
    <h1 th:text="${title}">Default Title</h1>

    <nav th:replace="fragments :: navigation"></nav>

    <ul>
        <li th:each="race : ${races}">
            <a th:href="@{/character/race(id=${race.id})}" th:text="${race.name}"></a>
        </li>
    </ul>

    <p><a href="/create/race">Create Race</a></p>



    <section th:replace="fragments :: scripts"></section>

</body>
</html>