<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

    <nav th:replace="fragments :: navigation"></nav>

    <div>
        <h1 th:text="${title}">Default Title</h1>
        <ul>
            <li th:each="race : ${races}">
                <a th:href="'/race/' + ${race.name}" th:text="${race.name}"></a>
            </li>
        </ul>
    </div>

    <div>
        <h3>Characters by Race</h3>
        <ul>
            <li th:each="race : ${races}">
                <a th:href="@{/character/race(id=${race.id})}" th:text="${race.name}"></a>
            </li>
        </ul>
    </div>

    <p><a href="/create/race">Create Race</a></p>



    <section th:replace="fragments :: scripts"></section>

</body>
</html>